* {
    margin: 0%
}

body {
    background: #d3d3d3;
}

.container {
    height: 70%;
}

.login-box {
    width: 500px;
    height: 350px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    background: rgba(52, 73, 94, 0.7);
}

input[type="text"],
input[type="password"] {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background: #fff;
    padding-left: 20px;
}

.btn-login {
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border-radius: 4px;
    border: none;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.form-title {
    margin-bottom: 20px;
}

a:hover {
    color: coral;
}

.login-label {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.login-logo {
    margin-top: 10px;
}

.footer {
    color: white;
    background: rgba(52, 73, 94, 0.7);
    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;
    height: 40px;
}

.header {
    color: white;
    background: rgba(52, 73, 94, 0.7);
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
    margin-top: 0px;
    height: 40px;
}

.header-name {
    color: #2ECC71;
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 220px;
    left: -220px;
    background: rgba(52, 73, 94, 0.7);
    color: white;
    font-family: sans-serif;
    transition: all 500ms;
}

#sidebar ul li {
    list-style: none;
    border-bottom: solid rgba(100, 100, 100, 0.3);
    padding: 15px 1px;
}

#sidebar .toggle-btn {
    top: 20px;
    left: 230px;
    position: absolute;
}

#sidebar .toggle-btn span {
    display: block;
    background: #151719;
    height: 5px;
    width: 30px;
    margin: 4px 0px;
}

#sidebar.active {
    left: 0px;
}

.nav-logo {
    width: 40px;
    padding: 10px 10px;
    vertical-align: middle;
}

.nav-title {
    vertical-align: middle;
    font: bold;
    font-size: 20px;
}

.main {
    width: 100%;
    float: right;
}

.btn-sign-out {
    vertical-align: middle;
    float: right;
    padding: 15px 15px;
}

.main-nav {
    height: 62px;
    background: rgba(100, 100, 100, 0.3);
}

.card {
    background: white;
    width: 250px;
    height: 400px;
    float: left;
    margin: 20px 10px;
}

.product {
    height: 200px;
    width: 220px;
    padding: 20px 23px;
}

.break {
    width: 200;
    margin-left: 25px;
    opacity: 0.1;
}

.description {
    font-family: sans-serif;
    margin: 10px 8px;
    opacity: 0.5;
    font-size: 12px;
}

.btn-add-to-cart {
    margin-left: 90px;
    margin-top: 35px;
    background: #2ECC71;
    color: white;
    border: solid 1px;
}

.search {
    margin-left: 40%;
    margin-top: 8px;
}