* {
    margin: 0%
}

body {
    background: #d3d3d3;
}

.container {
    height: 70%;
}

.login-box {
    width: 500px;
    height: 350px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    background: rgba(52, 73, 94, 0.7);
}

input[type="text"],
input[type="password"] {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background: #fff;
    padding-left: 20px;
}

.btn-login {
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border-radius: 4px;
    border: none;
}

.btn-sign-up {
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border-radius: 4px;
    border: none;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.form-title {
    margin-bottom: 20px;
}

.form-group label {
    display: inline-block;
    width: 100px;
}

a:hover {
    color: coral;
}

.login-label {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.login-logo {
    margin-top: 10px;
}

.footer {
    color: white;
    background: rgba(52, 73, 94, 0.7);
    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;
    height: 40px;
}

.header {
    color: white;
    background: rgba(52, 73, 94, 0.7);
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
    margin-top: 0px;
    height: 40px;
}

.header-name {
    color: #2ECC71;
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 220px;
    left: -220px;
    background: rgba(52, 73, 94, 0.7);
    color: white;
    font-family: sans-serif;
    transition: all 500ms;
}

#sidebar ul li {
    list-style: none;
    border-bottom: solid rgba(100, 100, 100, 0.3);
    padding: 15px 1px;
}

#sidebar .toggle-btn {
    top: 20px;
    left: 230px;
    position: absolute;
}

#sidebar .toggle-btn span {
    display: block;
    background: #151719;
    height: 5px;
    width: 30px;
    margin: 4px 0px;
}

#sidebar.active {
    left: 0px;
}

.nav-logo {
    width: 40px;
    padding: 10px 10px;
    vertical-align: middle;
}

.nav-title {
    vertical-align: middle;
    font: bold;
    font-size: 20px;
}

.main {
    width: 100%;
    float: right;
}

.sign-box {
    width: 500px;
    height: 520px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 40px;
    background: rgba(52, 73, 94, 0.7);
}

.btn-sign-out {
    vertical-align: middle;
    float: right;
    padding: 15px 15px;
}

.main-nav {
    height: 62px;
    background: rgba(100, 100, 100, 0.3);
}

.card {
    background: white;
    width: 250px;
    height: 400px;
    float: left;
    margin: 20px 10px;
}

.card p,
h4,
h2 {
    padding-left: 7px;
}

.product {
    height: 200px;
    width: 220px;
    padding: 20px 23px;
}

.break {
    width: 200;
    margin-left: 25px;
    opacity: 0.1;
}

.description {
    font-family: sans-serif;
    margin: 10px 2px;
    height: 18%;
    opacity: 0.5;
    font-size: 12px;
}

.btn-add-to-cart {
    margin-left: 90px;
    margin-top: 25px;
    background: #2ECC71;
    color: white;
    border: solid 1px;
    font: bold 12px Georgia, serif;
    height: 30px;
}

.search {
    margin-left: 40%;
    margin-top: 8px;
}

.content-break {
    width: 96%;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.4;
}

.content-head ul li {
    display: inline;
    padding: 20px;
}

.content-head a {
    color: black;
}

.content-head a:hover {
    color: coral;
}

.content-head h4 {
    padding: 10px 20px;
    color: black;
}

.content-cart {
    width: 40px;
    float: right;
    margin-right: 40px;
}

.content-cart-total {
    width: 20px;
    float: right;
    margin-right: 10px;
}

table {
    border: solid 1px;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
}

table th {
    background: rgba(24, 117, 209, 0.7);
    opacity: 0.8;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.cart-table {
    margin-top: 40px;
    margin-left: 20px;
    width: 50%;
    float: left;
}

.sales-table {
    margin-top: 40px;
    margin-left: 20px;
    width: 80%;
}

.summary {
    float: right;
    width: 300px;
    margin-right: 20px;
    margin-top: 40px;
}

.add-product-box {
    float: right;
    width: 300px;
    margin-right: 20px;
    margin-top: 40px;
}

.summary h4 {
    padding-left: 10px;
    border: solid 1px;
    color: white;
    background: rgb(12, 12, 48);
}

.summary table tr {
    height: 50px;
}

.table-footer {
    font-weight: bolder;
}

.checkout {
    margin-top: 20px;
    background: #2ECC71;
    color: white;
    float: right;
    border: solid 1px;
    height: 40px;
    font-weight: bold;
}

.add-product-btn {
    margin-top: 20px;
    background: rgba(24, 117, 209, 0.7);
    opacity: 0.9;
    color: white;
    border: solid 1px;
    height: 40px;
    font-weight: bold;
    float: right;
}

.back-home {
    margin-top: 20px;
    background: rgb(12, 12, 48);
    color: white;
    float: right;
    border: solid 1px;
    height: 40px;
    font-weight: bold;
}

.filter-sales {
    float: right;
    margin-right: 50px;
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.content-head hr {
    margin-top: 32px;
}

.add-product-box input {
    height: 25px;
    width: 140px;
    font-size: 15px;
    text-align: left;
}

.product-form label,
h3 {
    color: black;
}

.product-form hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.success {
    background: #2ECC71;
    text-align: center
}

.error {
    background: maroon;
    text-align: center
}


/* The Modal background */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 52%;
    top: 100px;
    width: 23%;
    height: 100%;
    overflow: auto;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The close Button on modal */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.edit-box input {
    height: 25px;
    width: 85%;
}

.edit-box-btn {
    margin-top: 10px;
    background: rgba(24, 117, 209, 0.7);
    opacity: 0.9;
    color: white;
    border: solid 1px;
    height: 50px;
    margin-left: 18px;
    font-weight: bold;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 8px;
    height: 8px;
    padding: 4px;
    background: rgb(4, 161, 70);
    border: 2px solid #666;
    color: white;
    text-align: center;
    font: 16px Arial, sans-serif;
}

.divider {
    background: rgb(84, 84, 129);
    height: 20px;
    color: white
}