* {
    margin: 0%
}

body {
    background: #f0f0f0;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    height: 70%;
}

.login-box {
    width: 340px;
    height: 312px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #c7d0d2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#login-alert {
    top: 50%;
    left: 50%;
    height: 40px;
    margin-top: -140px;
    margin-left: -170px;
}

input {
    outline: none;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

input[type="text"],
input[type="password"] {
    width: 270px;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #777;
    height: 35px;
    margin-left: 20px;
    padding-left: 10px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 2.7px #f5f7f8;
}

#login {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #51b1e9;
    cursor: pointer;
    border-radius: 16px;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

a:hover {
    color: coral;
}

.login-label {
    color: #555;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 10px;
}

.form-label {
    color: #555;
    display: inline-block;
    font-size: 14px;
    margin-left: -8px;
}

.below-login {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 16px;
}

p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: 12px;
    margin-right: 40px;
}

.footer {
    color: #444;
    background: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer p {
    padding-top: 10px;
}

.header {
    background: #fff;
    text-align: left;
    padding: 15px;
    margin-top: 0px;
    height: 35px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header h2 {
    width: 150px;
    font-size: 16px;
    float: left;
    padding-top: 5px;
}

.header a {
    color: #444;
    padding-top: 5px;
    float: right;
}

.header img {
    width: 40px;
    margin-top: -3px;
    float: left;
    height: 40px;
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 220px;
    left: -220px;
    background: rgba(52, 73, 94, 0.7);
    color: white;
    font-family: sans-serif;
    transition: all 500ms;
}

#sidebar ul li {
    list-style: none;
    border-bottom: solid rgba(100, 100, 100, 0.3);
    padding: 15px 1px;
}

#sidebar .toggle-btn {
    top: 20px;
    left: 230px;
    position: absolute;
}

#sidebar .toggle-btn span {
    display: block;
    background: #151719;
    height: 5px;
    width: 30px;
    margin: 4px 0px;
}

#sidebar.active {
    left: 0px;
}

.nav-logo {
    width: 40px;
    padding: 10px 10px;
    vertical-align: middle;
}

.nav-title {
    vertical-align: middle;
    font: bold;
    font-size: 20px;
}

.main {
    width: 100%;
    background: #fff;
    float: right;
}

.sign-box {
    width: 320px;
    float: right;
    height: 490px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #c7d0d2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.sign-box input {
    width: 70%;
    height: 30px;
}

.sign-box label {
    margin-left: 46px;
    text-align: left;
    float: left;
    width: 100%;
}

.sign-box h3 {
    padding: 4px;
    padding-top: 15px;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-box input[type="submit"] {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #51b1e9;
    cursor: pointer;
    border-radius: 16px;
}

.btn-sign-out {
    vertical-align: middle;
    float: right;
    padding: 15px 15px;
}

.main-nav {
    height: 62px;
    background: #fff;
}

.card {
    background: #f5f5f5;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    font-family: Montserrat;
    width: 240px;
    height: 300px;
    overflow: hidden;
    float: left;
    margin: 20px 10px;
}

.card p {
    margin-top: 158px;
    width: 80%;
    padding: 3px;
    margin-left: -240px;
    height: 30%;
    font-size: 13px;
    color: #aaa;
}

.card img {
    width: 100%;
    height: 140px;
}

.card h2 {
    color: #111;
    width: 100%;
    height: 30px;
    margin-top: 140px;
    margin-left: -243px;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
}

.card h1 {
    color: rgb(255, 189, 9);
    padding: 3px;
    width: 100px;
    height: 22px;
    font-size: 14px;
    margin-top: 220px;
    margin-left: -200px;
    margin-right: 2px;
}

.card h3 {
    margin-top: 250px;
    padding-top: 6px;
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin-left: -225px;
}

.card button {
    color: #fff;
    border-radius: 10px;
    padding: 3px;
    background: #259814;
    width: 50%;
    height: 30px;
    font-size: 14px;
    margin-top: 250px;
    margin-left: 0px;
    cursor: pointer;
}

.product {
    height: 200px;
    width: 220px;
    padding: 20px 23px;
}

.break {
    width: 200;
    margin-left: 25px;
    opacity: 0.1;
}

.description {
    font-family: sans-serif;
    margin: 10px 2px;
    height: 18%;
    opacity: 0.5;
    font-size: 12px;
}

.btn-add-to-cart {
    margin-left: 0px;
    margin-top: 25px;
    background: #2ECC71;
    color: white;
    border: solid 1px;
    font: bold 12px Georgia, serif;
    height: 30px;
}

.main-nav input {
    width: 20%;
    margin-left: 40%;
    border-radius: 8px;
    margin-top: 13px;
}

.content {
    margin-right: 30px;
    background: #fff;
}

.content-break {
    width: 96%;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.4;
}

.content-head ul li {
    display: inline;
    padding: 20px;
}

.content-head a {
    color: black;
}

.content-head a:hover {
    color: coral;
}

.content-head h4 {
    padding: 10px 20px;
    color: black;
}

.content-cart {
    width: 40px;
    float: right;
    margin-right: 40px;
}

.content-cart-total {
    width: 20px;
    float: right;
    margin-right: 10px;
}

table {
    border: solid 1px;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
}

table input {
    width: 45px;
}

table th {
    background-color: rgb(16, 97, 86);
    height: 35px;
    padding: 3px;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

#total-row {
    background: rgb(41, 41, 90);
    font-size: 23px;
    color: orange;
}

#total-row td {
    padding: 8px;
}

.cart-table {
    margin-top: 40px;
    margin-left: 20px;
    width: 50%;
    float: left;
}

.sales-table {
    margin-top: 40px;
    margin-left: 20px;
    width: 80%;
    background: #fff;
}

.add-product-box {
    float: right;
    height: 360px;
    padding: 10px;
    width: 300px;
    margin-top: 40px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #c7d0d2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.summary h4 {
    padding-left: 10px;
    border: solid 1px;
    color: white;
    background: rgb(12, 12, 48);
}

.summary table tr {
    height: 50px;
}

.table-footer {
    font-weight: bolder;
}

.checkout {
    margin-top: 20px;
    background: #2ECC71;
    color: white;
    float: right;
    border: solid 1px;
    height: 40px;
    font-weight: bold;
}

.add-product-box input[type="submit"] {
    float: right;
    margin-right: 20px;
    margin-top: 40px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #51b1e9;
    cursor: pointer;
    border-radius: 16px;
}

.add-product-box h3 {
    margin-right: -10px;
    margin-top: -10px;
    margin-left: -10px;
    font-size: 18px;
    color: #444;
    padding-top: 20px;
    align-content: center;
    height: 50px;
    background-color: #f2f2f2;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

.back-home {
    margin-top: 20px;
    background: rgb(12, 12, 48);
    color: white;
    float: right;
    border: solid 1px;
    height: 40px;
    font-weight: bold;
}

.filter-sales {
    float: right;
    margin-right: 50px;
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.content-head hr {
    margin-top: 32px;
}

.add-product-box input {
    height: 22px;
    float: right;
    margin-right: 22px;
    margin-bottom: -10px;
    padding: 3px;
    width: 70%;
    margin-top: 20px;
    margin-left: -5px;
    font-size: 14px;
}

.product-form label,
h3 {
    color: black;
}

.product-form hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.success {
    background: #F0FAEE;
    color: #259814;
    height: 35px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
}

.error {
    background: #f56d6d;
    font-size: 14px;
    height: 35px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
}


/* The Modal background */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 52%;
    top: 100px;
    width: 23%;
    height: 100%;
    overflow: auto;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-right: 20px;
}


/* The close Button on modal */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.edit-box input {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    height: 25px;
    margin-left: -8px;
    width: 90%;
}

.modal-content hr {
    opacity: 0.1;
    margin-top: 2px;
}

.edit-box input[type="submit"] {
    margin-top: 5px;
    background: rgba(24, 117, 209, 0.7);
    font-size: 13px;
    width: 256px;
    opacity: 0.9;
    padding: 2px;
    color: white;
    border: solid 1px;
    height: 32px;
    margin-left: -8px;
    cursor: pointer;
    border-radius: 20px;
}

.modal-content h3 {
    font-size: 14px;
    color: #444;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 8px;
    height: 8px;
    padding: 4px;
    background: rgb(4, 161, 70);
    border: 2px solid #666;
    color: white;
    text-align: center;
    font: 16px Arial, sans-serif;
}

.divider {
    background: #f6f6f6;
    height: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #444;
}

.main-nav span {
    width: 200px;
    margin-left: 24%;
    font-weight: 400;
    font-size: 14px;
    color: #141d98;
}